@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-size: 16px;
}

html,
img,
h1,
h2,
h3,
h4,
h5,
li,
p,
a,
.button-text,
.big-button-text {
  color: #eeeeee;
  font-family: 'Raleway', sans-serif;
  line-height: 1.25em;
}

.big {
  font-size: 7.5rem;
}

.title {
  font-size: 2.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

.title,
h1,
h2,
h3,
h4,
h5,
.button-text,
.big-button-text {
  font-weight: bold;
}

p,
li,
img,
html,
input,
select,
textarea,
.input-text,
.button-text {
  font-size: 1.125rem;
  font-style: normal;
}

.underline{
  text-decoration: underline;
}

.big-button-text {
  font-size: 1.25rem;
}

.button-text,
.big-button-text {
  text-transform: uppercase;
}

.main-container {
  width: 100%;
  height: 100%;
}

.main-height {
  min-height: calc(100vh - 77px);
}

.main-padding {
  padding: 6rem 10%;
}

.img-button {
  min-height: calc((100vh - 77px)/ 2);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 128px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 64px 128px;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  gap: 32px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.other{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 32px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
}

.navbar-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.button-tertiary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.button-tertiary:hover {
  border-bottom: 4px solid #870042;
}
.button-tertiary:active {
  border-bottom: 4px solid #870042;
  color: #AD0054;
}

.hamburger {
  display: none;
}

.facebook:hover {
  filter: invert(38%) sepia(97%) saturate(5168%) hue-rotate(215deg) brightness(103%) contrast(98%);
}

.instagram:hover {
  filter: invert(29%) sepia(41%) saturate(2703%) hue-rotate(295deg) brightness(91%) contrast(90%);
}

.github:hover {
  filter: invert(57%) sepia(67%) saturate(500%) hue-rotate(82deg) brightness(90%) contrast(92%);
}

@media screen and (max-width: 1536px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 640px) {

  .big {
    font-size: 5rem;
  }

  .title {
    font-size: 2.25rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  p,
  li,
  img,
  html,
  input,
  select,
  textarea,
  .input-text,
  .button-text {
    font-size: 1rem;
  }

  .big-button-text {
    font-size: 1.25rem;
  }

}

@media (prefers-color-scheme: dark) {

  html,
  body {
    background-color: #131313;
  }
}

@media (prefers-color-scheme: light) {

  html,
  body {
    background-color: #eeeeee;
  }
}