h1 Hello
p.lead
    | I don't want to be rescued. Yes. You gave me a dollar and some candy. Oh sure! Blame the wizards! This
    |  opera's as lousy as it is brilliant! Your lyrics lack subtlety. You can't just have your characters
    |  announce how they feel. That makes me feel angry!
a.btn.btn-cta Liitu!