h1 Hei IT-tudeng!
p.lead
    | Tere tulemast TTÜ IT-teaduskonna üliõpilaskogu kodulehele!
    br
    | Kui soovid olla kursis ITÜKis toimuvaga ning saada parimaid töö- ja praktikapakkumisi, siis liitu meie tudengite
    | infolistiga siin:
a.btn.btn-cta Liitu!