h1 Hei IT-tudeng!
p.lead
    | Tere tulemast TTÜ IT-teaduskonna üliõpilaskogu kodulehele!
    br
    | Kui soovid olla kursis ITÜKis toimuvaga ning saada parimaid töö- ja praktikapakkumisi, siis liitu meie tudengite
    | infolistiga siin:
form.form-group(v-on:submit.prevent="joinNewsletter()" v-cloak)
    .input-group.input-group-lg
        input.form-control(placeholder="example@example.com" v-model="newsletter.email" type="email" required)
        span.input-group-btn
            button.btn.btn-primary(type="submit" v-if="newsletter.status == 'waiting'") liitu
            button.btn.btn-primary(type="button" v-if="newsletter.status == 'working'" disabled): i.fa.fa-refresh.fa-spin-fast
            button.btn.btn-primary(type="button" v-if="newsletter.status == 'success'" disabled): i.fa.fa-check