.content-row
    h2.content-row-title.text-center Kontakt
    p #[i.fa.fa-envelope]  #[a(href="mailto:kontakt@ituk.ee") kontakt@ituk.ee]
    p #[i.fa.fa-phone]  +372 5305 7474
    p #[i.fa.fa-location-arrow]  Akadeemia tee 15a, ICT-314
.content-row
    p #[i.fa.fa-facebook] #[a(href="https://facebook.com/ituk.ttu")  facebook.com/ituk.ttu]
    p #[i.fa.fa-instagram] #[a(href="https://www.instagram.com/ituk.ttu")  instagram.com/ituk.ttu]
    p #[i.fa.fa-github] #[a(href="https://www.github.com/ituk-ttu")  github.com/ituk-ttu]



