.content-row
    h2.content-row-title.text-center Kontakt
    p #[i.fa.fa-envelope]  #[a(href="mailto:kontakt@ituk.ee") kontakt@ituk.ee]
    p #[i.fa.fa-phone]  +372 5333 7528
    p #[i.fa.fa-location-arrow]  Akadeemia tee 15a, ICT-361
    p #[i.fa.fa-location-arrow]  Raja 4c, ICO-210
.content-row
    p #[i.fab.fa-facebook] #[a(href="https://facebook.com/ituk.taltech")  facebook.com/ituk.taltech]
    p #[i.fab.fa-instagram] #[a(href="https://www.instagram.com/ituk.taltech/")  instagram.com/ituk.taltech]
    p #[i.fab.fa-github] #[a(href="https://www.github.com/ituk-ttu")  github.com/ituk-ttu]
