.content-row
    table.table.table-lg
        thead
            th Kergemad ülesanded
            th Raskemad ülesanded
        tbody
            tr
                td: a(href="pr01.html") 1. Ülesanne
                td: a(href="ex01.html") 1. Ülesanne
            tr
                td: a(href="pr02.html") 2. Ülesanne
                td: a(href="ex02.html") 2. Ülesanne
            tr
                td: a(href="pr03.html") 3. Ülesanne
                td: a(href="ex03.html") 3. Ülesanne
            tr
                td: a(href="pr04.html") 4. Ülesanne
                td: a(href="ex04.html") 4. Ülesanne