.content-row
    h1.text-center.content-row-title Juhatus 2018/2019''
    .row
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/liine.JPG")
                .card-content
                    .h3 Liine Kasak
                    p
                        | Esimees
                    p
                        | #[i.fa.fa-envelope] liine.kasak[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/jakob.JPG")
                .card-content
                    .h3 Jakob Roots
                    p
                        | Aseesimees inimressurside valdkonnas
                    p
                        | #[i.fa.fa-envelope] jakob.roots[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/johann.JPG")
                .card-content
                    .h3 Johann Kuldmäe
                    p
                        | Aseesimees finantsvaldkonnas
                    p
                        | #[i.fa.fa-envelope] johann.kuldmae[ät]ituk.ee
    .row
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/raimond.JPG")
                .card-content
                    .h3 Raimond Lume
                    p
                        | Aseesimees haridusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] raimond.lume[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="" alt="tafka")
                .card-content
                    .h3 Taavi Ansper
                    p
                        | Aseesimees meelelahutusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] taavi.ansper[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="" alt="sannu")
                .card-content
                    .h3 Sander Kukk
                    p
                        | Aseesimees turunduse- ja kommunikatsioonivaldkonnas
                    p
                        | #[i.fa.fa-envelope] sander.kukk[ät]ituk.ee
