.content-row
    h1.text-center.content-row-title Juhatus 2018/2019
    .row
        .col-md-12
            .card
                img.img-rounded.card-image(src="assets/img/juhatus.JPG")
    .row
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/liine.JPG")
                .card-content
                    .h3 Liine Kasak
                    p
                        | Esimees
                    p
                        | #[i.fa.fa-envelope] liine.kasak@ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/jakob.JPG")
                .card-content
                    .h3 Jakob Roots
                    p
                        | Aseesimees inimressurside valdkonnas
                    p
                        | #[i.fa.fa-envelope] jakob.roots@ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/johann.JPG")
                .card-content
                    .h3 Johann Kuldmäe
                    p
                        | Aseesimees finantsvaldkonnas
                    p
                        | #[i.fa.fa-envelope] johann.kuldmae@ituk.ee
    .row
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/johannes.JPG")
                .card-content
                    .h3 Johannes Kümmel
                    p
                        | Aseesimees haridusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] johannes.kummel@ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/raimond.JPG")
                .card-content
                    .h3 Raimond Lume
                    p
                        | Aseesimees turunduse- ja kommunikatsioonivaldkonnas
                    p
                        | #[i.fa.fa-envelope] raimond.lume@ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/alex.JPG")
                .card-content
                    .h3 Alex Bindevald
                    p
                        | Aseesimees meelelahutusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] alex.bindevald@ituk.ee