.content-row
    h1.text-center.content-row-title Juhatus
    .row
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/triin.JPG" alt="Triin")
                .card-content
                    .h3 Triin Sarapuu
                    p
                        | Esimees
                    p
                        | #[i.fa.fa-envelope] triin.sarapuu[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/maarja.JPG" alt="Maarja")
                .card-content
                    .h3 Maarja Hoop
                    p
                        | Aseesimees inimressursside valdkonnas
                    p
                        | #[i.fa.fa-envelope] maarja.hoop[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/regina.png" alt="Regina")
                .card-content
                    .h3 Regina Johanson
                    p
                        | Aseesimees finantsvaldkonnas
                    p
                        | #[i.fa.fa-envelope] regina.johanson[ät]ituk.ee
    .row
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/robert.JPG" alt="Robert")
                .card-content
                    .h3 Robert Pärnpuu
                    p
                        | Aseesimees haridusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] robert.parnpuu[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/hanna.JPG" alt="Hanna-Kristella")
                .card-content
                    .h3 Hanna-Kristella Lehtsaar
                    p
                        | Aseesimees meelelahutusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] hannakristella.lehtsaar[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/taavi.JPG" alt="Taavi")
                .card-content
                    .h3 Taavi Kuuseok
                    p
                        | Aseesimees turundus- ja kommunikatsioonivaldkonnas
                    p
                        | #[i.fa.fa-envelope] taavi.kuuseok[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/marilotta.jpg" alt="Mari-Lotta")
                .card-content
                    .h3 Mari-Lotta Moldau
                    p
                        | Juhiabi
                    p
                        | #[i.fa.fa-envelope] marilotta.moldau[ät]ituk.ee
