.content-row
    h1.text-center.content-row-title Juhatus
    .row
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/margareth.jpg" alt="" aria-hidden="true")
                .card-content
                    .h3 Margareth Lasn
                    p
                        | Juhatuse esimees
                    p #[i.fa.fa-envelope]  #[a(href="mailto:margareth.lasn@ituk.ee") margareth.lasn@ituk.ee]
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/rasmus.jpg" alt="" aria-hidden="true")
                .card-content
                    .h3 Rasmus Serg
                    p
                        | Inimressursside valdkonna juht
                    p #[i.fa.fa-envelope]  #[a(href="mailto:rasmus.serg@ituk.ee") rasmus.serg@ituk.ee]
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/laura-liis.jpg" alt="" aria-hidden="true")
                .card-content
                    .h3 Laura-Liis Järvela
                    p
                        | Finantsvaldkonna juht
                    p #[i.fa.fa-envelope]  #[a(href="mailto:lauraliis.jarvela@ituk.ee") lauraliis.jarvela@ituk.ee]
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/kart.jpg" alt="" aria-hidden="true")
                .card-content
                    .h3 Kärt Annus
                    p
                        | Haridusvaldkonna juht
                    p #[i.fa.fa-envelope]  #[a(href="mailto:kart.annus@ituk.ee") kart.annus@ituk.ee]
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/sander.jpg" alt="" aria-hidden="true")
                .card-content
                    .h3 Sander Plukš
                    p
                        | Meelelahutusvaldkonna juht
                    p #[i.fa.fa-envelope]  #[a(href="mailto:sander.pluks@ituk.ee") sander.pluks@ituk.ee]
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/marion.jpg" alt="" aria-hidden="true")
                .card-content
                    .h3 Marion Martin
                    p
                        | Turundus- ja kommunikatsioonivaldkonna juht
                    p #[i.fa.fa-envelope]  #[a(href="mailto:marion.martin@ituk.ee") marion.martin@ituk.ee]
        //.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="" alt="" aria-hidden="true")
                .card-content
                    .h3 
                    p
                        | Juhiabi
                    p #[i.fa.fa-envelope]  #[a(href="") ]
