.content-row
    h1.text-center.content-row-title Juhatus''
    .row
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="")
                .card-content
                    .h3 Emily Joy Krohn
                    p
                        | Esimees
                    p
                        | #[i.fa.fa-envelope] emily.krohn[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="")
                .card-content
                    .h3 Aneta Claudia Marttila
                    p
                        | Aseesimees inimressurside valdkonnas
                    p
                        | #[i.fa.fa-envelope] aneta.marttila[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="")
                .card-content
                    .h3 Annabel Tsarjov
                    p
                        | Aseesimees finantsvaldkonnas
                    p
                        | #[i.fa.fa-envelope] annabel.tsarjov[ät]ituk.ee
    .row
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="")
                .card-content
                    .h3 Helena Väinmaa
                    p
                        | Aseesimees haridusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] helena.vainmaa[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="" alt="tafka")
                .card-content
                    .h3 Taavi Ansper
                    p
                        | Aseesimees meelelahutusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] taavi.ansper[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="" alt="sannu")
                .card-content
                    .h3 Sander Kukk
                    p
                        | Aseesimees turunduse- ja kommunikatsioonivaldkonnas
                    p
                        | #[i.fa.fa-envelope] sander.kukk[ät]ituk.ee
