.content-row
    h1.text-center.content-row-title Juhatus
    .row
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/karl.jpg" alt="Karl-Andreas")
                .card-content
                    .h3 Karl-Andreas Turvas
                    p
                        | Esimees
                    p
                        | #[i.fa.fa-envelope] karlandreas.turvas[ät]ituk.ee
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/margareth.jpg" alt="Margareth")
                .card-content
                    .h3 Margareth Lasn
                    p
                        | Aseesimees inimressursside valdkonnas
                    p
                        | #[i.fa.fa-envelope] margareth.lasn[ät]ituk.ee
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/regina.png" alt="Regina")
                .card-content
                    .h3 Regina Johanson
                    p
                        | Aseesimees finantsvaldkonnas
                    p
                        | #[i.fa.fa-envelope] regina.johanson[ät]ituk.ee
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/robert.JPG" alt="Robert")
                .card-content
                    .h3 Robert Pärnpuu
                    p
                        | Aseesimees haridusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] robert.parnpuu[ät]ituk.ee
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/hanna.JPG" alt="Hanna-Kristella")
                .card-content
                    .h3 Hanna-Kristella Lehtsaar
                    p
                        | Aseesimees meelelahutusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] hannakristella.lehtsaar[ät]ituk.ee
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/taavi.JPG" alt="Taavi")
                .card-content
                    .h3 Taavi Kuuseok
                    p
                        | Aseesimees turundus- ja kommunikatsioonivaldkonnas
                    p
                        | #[i.fa.fa-envelope] taavi.kuuseok[ät]ituk.ee
        .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="assets/img/ilja.jpg" alt="Ilja")
                .card-content
                    .h3 Ilja Serenko
                    p
                        | Juhiabi
                    p
                        | #[i.fa.fa-envelope] ilja.serenko[ät]ituk.ee
