.content-row
    h1.text-center.content-row-title Juhatus''
    .row
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="src/assets/img/triin.JPG" alt="Triin")
                .card-content
                    .h3 Triin Sarapuu
                    p
                        | Esimees
                    p
                        | #[i.fa.fa-envelope] triin.sarapuu[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="src/assets/img/maarja.JPG" alt="Maarja")
                .card-content
                    .h3 Maarja Hoop
                    p
                        | Aseesimees inimressurside valdkonnas
                    p
                        | #[i.fa.fa-envelope] maarja.hoop[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="src/assets/img/regina.png" alt="regina")
                .card-content
                    .h3 Regina Johanson
                    p
                        | Aseesimees finantsvaldkonnas
                    p
                        | #[i.fa.fa-envelope] regina.johanson[ät]ituk.ee
    .row
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="src/assets/img/lars.png" alt="Lars")
                .card-content
                    .h3 Lars Asi
                    p
                        | Aseesimees haridusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] lars.asi[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="src/assets/img/andres.png" alt="Andres")
                .card-content
                    .h3 Andres Eelma
                    p
                        | Aseesimees meelelahutusvaldkonnas
                    p
                        | #[i.fa.fa-envelope] andres.eelma[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="src/assets/img/artjom.png" alt="Artjom")
                .card-content
                    .h3 Artjom Sarapov
                    p
                        | Aseesimees turunduse- ja kommunikatsioonivaldkonnas
                    p
                        | #[i.fa.fa-envelope] sander.kukk[ät]ituk.ee
        .col-md-4.col-xs-12
            .card.card-grid
                img.card-image.card-image-medium(src="src/assets/img/marilotta.jpg" alt="Mari-Lotta")
                .card-content
                    .h3 Mari-Lotta Moldau
                    p
                        | Juhiabi
                    p
                        | #[i.fa.fa-envelope] marilotta.moldau[ät]ituk.ee
