.content-row
    h1.text-center.content-row-title Millega ITÜK tegeleb?
    .row
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-low(src="assets/img/esindamine.jpg")
                .card-content
                    h3 Esindamine
                    p
                        | ITÜK esindab IT-tudengeid teaduskonna tasandil. Oleme olemas selleks, et tudengite sõna pääseks võimule,
                        | et tudengite mured ja rõõmud kuuldud saaks ning õppimiskeskkond oleks võimalikult stressivaba.
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-low(src="assets/img/haridus.jpg")
                .card-content
                    h3 Hariduse edendamine
                    p
                        | ITÜK korraldab nii organisatsioonisiseselt kui ka kõigile teaduskonna tudengitele harivaid projekte,
                        | et pakkuda vaheldusrikkamaid õppimisvõimalusi erinevate workshoppide või koosõppimiste näol.
        .col-md-4.col-sm-12.col-xs-12
            .card.card-grid
                img.card-image.card-image-low(src="assets/img/meelelahutus.jpg")
                .card-content
                    h3 Meelelahutus
                    p
                        | Vahelduseks õppimisele saab osa võtta ITÜKi poolt korraldatud meelelahutuslikest sündmustest nagu
                        | Tudengibaar, teaduskondade vaheline jõulupidu või IT-rebaste sügispidu.
