.content-row
    table.table.table-lg
        thead
            th Ese
            th Kogus
            th Hind (1tk 1 päev)
        tbody
            tr
                td Pikendusjuhe 1,5m
                td 30
                td 0.10€
            tr
                td Pikendusjuhe 3m
                td 23
                td 0.20€
            tr
                td Pikendusjuhe 5m
                td 50
                td 0.30€
            tr
                td Jätkujuhe 5m
                td 4
                td 0.25€
            tr
                td Jätkujuhe 10m
                td 6
                td 0.35€
            tr
                td 16A->220V x16 11m
                td 2
                td 3€
            tr
                td 16A->220V x16 15m
                td 5
                td 3€
            tr
                td 16A->220V x16 20-25m
                td 10
                td 3€
            tr
                td Elektrijaotuskapp
                td 2
                td 3€
            tr
                td Võrgukaabel
                td 318
                td 0.05€/m
            tr
                td Võrgukaabli 5-ne magistral
                td 13
                td 5x võrgukaabli hind
            tr
                td Võrgukaabli 10-ne magistral
                td 22
                td 10x võrgukaabli hind
            tr
                td Võrgukaabli 24-ne magistral
                td 4
                td 24x võrgukaabli hind
            tr
                td Switch Gbps 8 porti
                td 2
                td 2€
            tr
                td Switch Gpbs 16 porti
                td 1
                td 4€
            tr
                td Raadiosaatjad
                td 6
                td 1.5€
            tr
                td AVerMedia Live Gamer Extreme (capture card)
                td 1
                td 10€
