body{
    background-color: #f8f8f8;
}
.hero {
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    
}

.hero  p {
    text-shadow: 3px 2px var(--primary-dark);

}

.hero:before {
    content: '';
    background: url('./images/hero.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(3px);
}

.hero .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}

.hero .content p:first-child {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

.hero .content p:nth-child(2) {
    font-size: 2.2rem;
    font-style: italic;
    margin-bottom: 2rem;
}


.hero .button {
    margin: 1rem 0;
    width: 300px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: #ffffff;
}

.hero .button:hover {
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid #fff;
}



@media screen and (max-width:940px) {

    .hero {
        height: 90vh;
    }
  
    .hero .content p:nth-child(1) {
        font-size: 2.6rem;
        margin-bottom: 1rem;
        
    }

    .hero .content p:nth-child(2) {
        font-size: 1.6rem;
    }
    
    .hero .button{
        width: 100%;
      }
    
}










