
.about {
    
    margin: auto;
    padding: 3rem 0rem 0rem 0rem;
    width: 100%;
}

.about .container {
    width: 1240px;
    margin: 0rem auto;
    margin-bottom: 3rem;
    
}

.about h2 {
    font-size: 3rem;
    text-align: center;

}

.about a {
    color: var(--secondary-color);
}

/* .about video {
    margin-top: 6rem;
    height: 60%;
    width: 80%;
} */

.about .col-2 {
   

}

.about .col-2 p:first-of-type {
    margin: 2rem 0;
}

.about .col-2 p:nth-child(2) {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 600;
}


@media screen and (max-width:940px) {
    .about .container {
        grid-template-columns: 3fr;
    }

    .about .container {
        width: 100%;
    }

    .about .col-span-1{
        display: none;
        
    }

   
  
}









