.footer
    .container
        .row
            .col-md-4.col-sm-12
                div.text-left.inline.footer-links
                    P
                        a(href="index.html") avaleht
                        | #[span  ]
                        //a(href="meist.html") meist
                        //| #[span  ]
                        //a(href="projektid.html") projektid
                        //| #[span  ]
                        //a(href="dokumendid.html") dokumendid
                        //| #[span  ]
                        //a(href="https://blog.ituk.ee/") blogi
                        //    | #[span  ]
                        a(href="rent.html") rent
                        | #[span  ]
                        // a(href="kasulik.html") kasulik
                        // | #[span  ]
                        a(href="kontakt.html") kontakt
                        | #[span  ]
            .col-md-4.col-sm-12.footer-contact
                p.text-left.inline
                    i.fa.fa-envelope
                    |  #[a(href="mailto:kontakt@ituk.ee") kontakt[at]ituk.ee]
                    br
                    i.fa.fa-location-arrow
                    |  Akadeemia tee 15a, ICT-361
            .col-md-4.col-sm-12.footer-social
                a(href="https://www.facebook.com/ituk.taltech", target="_blank"): i.fab.fa-facebook.fa-2x
                a(href="https://www.instagram.com/ituk.taltech/", target="_blank"): i.fab.fa-instagram.fa-2x
                a(href="https://github.com/ituk-ttu", target="_blank"): i.fab.fa-github.fa-2x
                a(href="https://drive.google.com/drive/folders/0B83Fndj2U7wVRFhrSmNQN3hSYmM?usp=sharing", target="_blank"): i.fab.fa-google-drive.fa-2x
                a(href="https://hub.ituk.ee", target="_blank"): i.fas.fa-terminal.fa-2x
script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-104645998-1', 'auto');
    ga('send', 'pageview');
