.footer
    .container
        .row
            .col-md-4.col-sm-12
                div.text-left.inline
                    p.inline: a(href="index.html") avaleht
                    p.inline: a(href="meist.html") meist
                    p.inline: a(href="projektid.html") projektid
                    p.inline: a(href="dokumendid.html") dokumendid
                    p.inline: a(href="https://blog.ituk.ee/") blogi
                    p.inline: a(href="rent.html") rent
                    p.inline: a(href="kasulik.html") kasulik
                    p.inline: a(href="kontakt.html") kontakt
            .col-md-4.col-sm-12.footer-contact
                p.text-left.inline
                    i.fa.fa-envelope
                    |  #[a(href="mailto:kontakt@ituk.ee") kontakt@ituk.ee]
                    br
                    i.fa.fa-location-arrow
                    |  Akadeemia tee 15a, ICT-314
            .col-md-4.col-sm-12.footer-social
                a(href="https://fb.com/ituk.ttu"): i.fa.fa-facebook.fa-2x
                a(href="https://instagram.com/ituk.ttu"): i.fa.fa-instagram.fa-2x
                a(href="https://github.com/ituk-ttu"): i.fa.fa-github.fa-2x