.row.content-row.hero
    .vertical-row
        .col-md-6.vertical-column.hero-logo
            img(src="assets/img/logo-hero.svg")
        .col-md-6.vertical-column.col-sm-12
            include ../content/hero-text