.content-row
    h2.text-center.content-row-title Viimati postitatud
    .col-xs-12
        .card.ghost-card
            img.card-image.card-image-low(src="http://i.imgur.com/blcmpxH.jpg")
            .card-content
                h3 Stuffs
                p
                    | adhowdihjawoidh
                a(href="#") Loe edasi...
    .col-xs-12.col-sm-7.col-md-7
        .card.ghost-card
            img.card-image.card-image-low(src="http://i.imgur.com/blcmpxH.jpg")
            .card-content
                h3 Stuffs
                p
                    | adhowdihjawoidh
                a(href="#") Loe edasi...
    .col-xs-12.col-sm-5.col-md-5
        .card.ghost-card
            img.card-image.card-image-low(src="http://i.imgur.com/blcmpxH.jpg")
            .card-content
                h3 Stuffs
                p
                    | adhowdihjawoidh
                a(href="#") Loe edasi...