.content-row
    h4.text-center Asukoht kaardil
    iframe#map.map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2031.2584525450532!2d24.661989015991114!3d59.39540038168195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469295a90aee413b%3A0x4f990fb010829ae5!2sTalTech%20IT%20College!5e0!3m2!1sen!2see!4v1652713340943!5m2!1sen!2see' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
