.content-row
    h2.text-center.content-row-title Mida teeme
    .row
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-low(src="http://i.imgur.com/nkM8ty9.jpg")
                .card-content
                    h3 Something
                    p
                        | And remember, don't do anything that affects anything, unless it turns out you were supposed to, in
                        |  which case, for the love of God, don't not do it! I love you, buddy! Actually, that's still true.
                        |  I found what I need. And it's not friends, it's things.
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-low(src="http://i.imgur.com/nkM8ty9.jpg")
                .card-content
                    h3 Something
                    p
                        | And remember, don't do anything that affects anything, unless it turns out you were supposed to, in
                        |  which case, for the love of God, don't not do it! I love you, buddy! Actually, that's still true.
                        |  I found what I need. And it's not friends, it's things.
        .col-md-4.col-sm-12.col-xs-12
            .card.card-grid
                img.card-image.card-image-low(src="http://i.imgur.com/nkM8ty9.jpg")
                .card-content
                    h3 Something
                    p
                        | And remember, don't do anything that affects anything, unless it turns out you were supposed to, in
                        |  which case, for the love of God, don't not do it! I love you, buddy! Actually, that's still true.
                        |  I found what I need. And it's not friends, it's things.