.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#"): img(src="assets/img/logo-navbar.svg" alt="ITÜK")
        .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li: a(href="#") avaleht
                li: a(href="#") something
                li: a(href="#") different stuff
                li: a(href="#") another option
                li: a(href="#") kontakt