.navbar.navbar-default.navbar-static-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/"): img(src="assets/img/logo-navbar.svg" alt="ITÜK")
        .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li: a(href="/") avaleht
                li: a(href="https://liitu.ituk.ee") liitu
                //li: a(href="meist.html") meist
                //li: a(href="projektid.html") projektid
                //li: a(href="dokumendid.html") dokumendid
                //li: a(href="https://e-sport.ee/") TTÜ e-Sport
                li: a(href="https://blog.ituk.ee/") blogi
                li: a(href="rent.html") rent
                //li: a(href="kasulik.html") kasulik
                li: a(href="kontakt.html") kontakt
