.content-row
    h2.text-center.content-row-title Tulevased üritused
    .event
        .event-inner
            .event-date
                p.event-day 24
                p.event-month sep
            .event-content
                p.event-time 12:00 - 19:00
                p.event-title ITÜKi infoõhtu
                p.event-location ICT-315
    .event
        .event-inner
            .event-date
                p.event-day 27
                p.event-month sep
            .event-content
                p.event-time 17:00 - 19:00
                p.event-title A Hackers Guide to World Domination
                p.event-location ICT-312
    .event
        .event-inner
            .event-date
                p.event-day 31
                p.event-month sep
            .event-content
                p.event-time 11:00 - 12:00
                p.event-title Researching Giraffes
                p.event-location ICT-101