.content-row
    h2.text-center.content-row-title Tulevased üritused
    .text-center(v-if="events == null"): i.fa.fa-refresh.fa-spin-fast.fa-2x
    p.text-center(v-if="events != null && events[0] == undefined" v-cloak) Üritusi pole :(
    .event.card(v-for="event in events" v-cloak)
        .card-content
            .event-inner
                .event-date
                    p.event-day {{ getDateDay(event.start.dateTime) }}
                    p.event-month {{ getDateMonth(event.start.dateTime) }}
                .event-content
                    p.event-time
                        span(v-if="isSingleDayEvent(event)")
                            | {{ getDateClock(event.start.dateTime) }}
                            | -
                            | {{ getDateClock(event.end.dateTime) }}
                        span(v-if="!isSingleDayEvent(event)")
                            | {{ getDateDateAndClock(event.start.dateTime) }}
                            | -
                            | {{ getDateDateAndClock(event.end.dateTime) }}
                    p.event-title {{ event.summary }}
                    p.event-location {{ event.location }}
                    a.event-link(v-bind:href="event.description" v-if="event.description") Vaata veel...
