.navbar {
    font-weight: 400;
    .navbar-brand {
        padding: @nav-link-padding;
        padding-top: 0;
        padding-bottom: 0;
        img {
            height: 40px;
            margin: 10px 0;
        }
    }
}

body {
    background: url("../img/bg-diagonal-gray.svg#svgView(preserveAspectRatio(none))") no-repeat;
    background-size: 100% 100%;
}

.vertical-row {
    display: table;
    height: 100%;
}

.vertical-column {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.content-row {
    padding: 40px 0;
}

.hero {
    padding-top: 80px;
    img {
        width: 100%;
    }
}

.btn-primary {
    &:hover, &:active {
        border: 1px solid @brand-primary;
        background-color: @brand-primary;
        color: #fff;
    }
}

.btn-cta {
    .btn-lg();
    .btn-primary();
    padding: 10px 48px;
}