.navbar {
    font-weight: 400;
    .navbar-brand {
        padding: @nav-link-padding;
        padding-top: 0;
        padding-bottom: 0;
        img {
            height: 40px;
            margin: 10px 0;
        }
    }
}

body {
    background: url("../img/bg-diagonal-gray.svg#svgView(preserveAspectRatio(none))") no-repeat;
    background-size: 100%;
}

.vertical-row {
    display: table;
    height: 100%;
}

.vertical-column {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.content-row {
    padding: 80px 0;
}

.hero {
    padding-top: 40px;
    img {
        width: 100%;
    }
}

.event {
    .event-inner {
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        .event-date {
            display: inline-block;
            .event-day {
                line-height: 0.8;
                font-size: 3.3em;
                font-weight: bold;
                padding-top: 10px;
            }
            .event-month {
                line-height: 1.2;
                font-size: 2.1em;
                text-transform: uppercase;
            }
        }
        .event-content {
            white-space:nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            margin-left: 20px;
            .event-title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 2em;
            }
            p {
                line-height: 1.2;
            }
        }
        p {

            box-sizing: border-box;
            width: 100%;
            display:block;
            white-space: pre-wrap;
            margin: 0;
            max-width: 100%;
            text-overflow: ellipsis;
        }
    }
}

.hero-logo {
    @media (max-width: @screen-sm-max) {
        .responsive-invisibility();
    }
}

.content-row-title {
    margin-bottom: @grid-gutter-width;
}

.card {
    box-shadow: 0 14px 38px rgba(44,44,44,.01), 0 3px 8px rgba(44,44,44,.03);
    background-color: #fff;
    margin-bottom: 25px;
    border-radius: @border-radius-base;
    border: 1px solid rgba(44,44,44,.1);
    &.card-grid {
        margin-bottom: @grid-gutter-width;
    }
    .card-content {
        padding: 25px;
    }
    .card-image {
        width: 100%;
        object-fit: cover;
        &.card-image-low {
            max-height: 200px;
        }
    }
}