@font-family-base: "Raleway", sans-serif;
@font-size-base: 16px;
@text-color: #000000;

@navbar-height: 60px;
@navbar-default-bg: transparent;
@navbar-default-border: none;
@navbar-default-color: #870042;
@navbar-default-link-color: @text-color;
@navbar-default-link-active-color: @navbar-default-color;
@navbar-default-link-hover-color: #870042;