include partials/head
html
    body
        include partials/navbar
        .container
            .content-row
                div(role='main')
                    span#maincontent
                    link(href='/mod/charon/plugin/public/css/assignment.css', rel='stylesheet')
                    h1.title EX04 Caesar
                    #app.columns.assignment-columns
                        .column.is-two-thirds.assignment-content.content
                            p
                                | Fail:
                                code ex04_caesar/caesar.py
                            p
                                | Enne kui ülesandega alustate, siis on soovituslik läbi lugeda järgmised
                                | pydoci artiklid:
                            ul
                                li
                                    a(href='https://ained.ttu.ee/pydoc/string.html', rel='nofollow noreferrer noopener', target='_blank') https://ained.ttu.ee/pydoc/string.html
                                li
                                    a(href='https://ained.ttu.ee/pydoc/loop.html', rel='nofollow noreferrer noopener', target='_blank') https://ained.ttu.ee/pydoc/loop.html
                                li
                                    a(href='https://ained.ttu.ee/pydoc/list.html', rel='nofollow noreferrer noopener', target='_blank') https://ained.ttu.ee/pydoc/list.html
                            p
                                br
                            a(name='sissejuhatus')
                            h2 Sissejuhatus
                            p
                                | Caesari nihe, ka
                                strong Caesari šiffer
                                | , Caesari salakiri on krüptograafias
                                | üks lihtsamaid ja tuntumaid šifreerimismeetodeid.
                            p
                                | See on üks asendusšifri tüüpidest, kus iga täht algsest krüpteerimata
                                | tekstist on asendatud tähega, mis on mingi kindla arvu positsioonide
                                | võrra tähestikus taga- või eespool. Näiteks vasaknihke 3 puhul
                                | asendatakse täht D tähega A, täht E asendatakse tähega B jne.
                            p
                                | Selline krüpteerimisviis on nime saanud Julius Caesari järgi, kes
                                | kasutas seda isiklikus kirjavahetuses.
                            p
                                strong Loe juurde
                                |  (soovituslik!) :
                                a(href='https://et.wikipedia.org/wiki/Caesari_nihe', rel='nofollow noreferrer noopener', target='_blank') https://et.wikipedia.org/wiki/Caesari_nihe
                                br
                            p
                                br
                            a(name='ulesanne')
                            h2 Ülesanne
                            p
                                | Teie eesmärk on koostada
                                strong kaks funktsiooni
                                | :
                                code encode
                                |  ja
                                code decode
                                | .
                                | Antud funktsioonid hakkavad vastavalt kas krüpteerima või dekrüpteerima
                                | etteantud sõne kasutades Caesari šiffrit. Dekrüpteerimise näide on
                                | toodud mallis.
                            p
                                | Mõlemad funktsioonid
                                strong tagastavad
                                |  vastavalt krüpteeritud või
                                | dekrüpteeritud sõne.
                                br
                                br
                            a(name='parameetrid')
                            h3 Parameetrid
                            p
                                | Mõlemal funktsioonil on
                                strong kolm parameetrit
                                | :
                            ul
                                li
                                    code message
                                    |  (
                                    em string
                                    | )
                                    ul
                                        li
                                            strong Krüpteeritav sõne.
                                li
                                    code shift
                                    |  (
                                    em int
                                    | )
                                    ul
                                        li
                                            strong Nihkemäär
                                            | . Näitab ära, kui mitme positsiooni võrra on tarvis
                                            | sümboleid nihutada. Näiteks nihkemäära 0 korral muutub
                                            code A
                                            |  >
                                            code A
                                            | , aga nihkemäära 2 korral
                                            code A
                                            |  >
                                            code C
                                            | . Negatiivse
                                            | nihkemäära puhul minnakse nö ringis tagasi, ehk standartset
                                            em ascii
                                            |  tähestikku kasutades on nihkemäära -1 puhul vastav muutus
                                            code A
                                            |  >
                                            code Z
                                            | .
                                        li
                                            | Nihkemäär võib olla suurem kui kasutatava tähestiku sümbolite arv.
                                            | Sel juhul tuleb nihkemäärast ära võtta täisosa - tähestiku
                                            | sümbolite arv. Näide: Kui nihkemäär on 29, aga kasutatava
                                            | tähestiku sümboilte arv on 26, siis reaalne nihe on
                                            code 29 - 26 = 3
                                            |  ehk
                                            code A
                                            |  >
                                            code D
                                            | .
                                li
                                    code alphabet
                                    |  (
                                    em string
                                    | )
                                    ul
                                        li
                                            strong Kasutatav tähestik.
                                            |  Antud parameetri korral on tegemist
                                            a(href='https://ained.ttu.ee/pydoc/func.html#vaikeparameeter', rel='nofollow noreferrer noopener', target='_blank') vaikeparameetriga
                                            | ,
                                            | mille väärtus on vaikimisi
                                            em ascii
                                            |  ehk ladina tähestik
                                            | (
                                            code abcdefghijklmnopqrstuvwxyz
                                            | ). Antud parameetrile mallis vaikimisi väärtust omistatud ei ole - seda peate ise tegema. (Vaikeparameetriga funktsiooni väljakutsumise näide on allpool olemas)
                                        li
                                            code alphabet
                                            |  -is leiduvad sümbolid võivad varieeruda. Näiteks võib
                                            | tähestikuna kasutada ka numbrite hulka
                                            code 0123456789
                                            |  või eesti
                                            | tähestikku
                                            code abcdefghiklmnopqrsšzžtuvwõäöüxy
                                            | . Sellest, mida teha
                                            | taoliste tähestike korral, saad lugeda allpool.
                                        li
                                            | Võite arvestada sellega, et kõik
                                            code alphabet
                                            | -is leiduvad sümbolid
                                            | on alati ühekordsed ning väiketähed (kui väiketäht on võimalik).
                                            br
                                            br
                            a(name='nouded')
                            h3 Nõuded
                            p
                                em Kõik siin paragrahvis toodud näited kasutavad nihet 1.
                            p Krüpteerimisel/dekrüpteerimisel peate jälgima järgmisi reegleid:
                            ul
                                li
                                    strong Nihutama peab vaid sümboleid, mis leiduvad
                                    code alphabet
                                    | -
                                    strong is.
                                    | Sümboleid, mida tähestikus ei leidu nihutada ei tohi. Näiteks kui
                                    | tähestikus on vaid kaks sümbolit:
                                    code ax
                                    | , siis sõne
                                    code maakera
                                    |  >
                                    code mxxkerx
                                    | . Samamoodi kuna kirjavahemärke vaiketähestikus ei ole,
                                    | siis vaiketähestikku kasutades on sõne
                                    code abc, tuv!
                                    |  >
                                    code bcd, uvw!
                                li
                                    | Sümboleid tuleb nihutada sellises järjekorras, nagu on ette antud
                                    code alphabet
                                    | -is. Vaiketähestiku korral on
                                    code abc
                                    |  >
                                    code bcd
                                    | , aga
                                    | tähestiku
                                    code cadbe
                                    |  korral on
                                    code abc
                                    |  >
                                    code dea
                                    |  .
                                li
                                    | Nihutamisel peate arvestama suur- ja väiketähti. See tähendab, et kui enne nihutamist oli sisendis tegu suurtähega, siis peab ka uus täht olema suurtäht. (AbCdE > BcDeF). (
                                    code AbCdE
                                    |  >
                                    code BcDeF
                                    | ).
                            p
                                br
                            a(name='soovitused-lahendamiseks')
                            h2 Soovitused lahendamiseks
                            ul
                                li
                                    | Märkate peagi, et teatud osa koodist hakkab korduma - kasutage
                                    | korduste vältimiseks abifunktsioone.
                                li
                                    | Kirjutage endale ise näiteid juurde. Mallis on paar tükki ette antud,
                                    | aga erinevate juhtude kontrollimiseks peate neid ise juurde
                                    | genereerima.
                                li
                                    | Kui seda veel siiani teinud ei ole, siis tutvu kindlasti
                                    a(href='https://ained.ttu.ee/pydoc/string.html', rel='nofollow noreferrer noopener', target='_blank')
                                        | stringi
                                        | pydociga
                                    |  - tuleb selle
                                    | ülesande juures kindlasti kasuks!
                            p
                                br
                            a(name='mall')
                            h2 Mall
                            pre.
                                """Encode and decode Caesar cipher."""

                                def encode(message: str, shift: int, alphabet: str) -> str:
                                    """
                                    Encode the given message using the Caesar cipher principle.

                                :param message: The string to be encoded.
                                :param shift: Determines the amount of symbols to be shifted by.
                                :param alphabet: Determines the symbols in use. Defaults to the standard latin alphabet.
                                :return: Encoded string.
                                """
                                pass


                                def decode(message: str, shift: int, alphabet: str) -> str:
                                """
                                Decode the given message already encoded with the caesar cipher principle.

                                :param message: The string to be decoded.
                                :param shift: Determines the amount of symbols to be shifted by.
                                :param alphabet: Determines the symbols in use. Defaults to the standard latin alphabet.
                                :return: Decoded string.
                                """
                                pass


                                if __name__ == "__main__":
                                # simple tests
                                print(encode("hello", 1))  # ifmmp
                                print(decode("ifmmp", 1))  # hello

                                # WRITE THE REMAINING EXAMPLES YOURSELF!

                                # larger shift

                                # negative shift

                                # shift > alphabet.length

                                # case sensitivity

                                # misc symbols (.,:; etc.)

                                # ...
        include partials/footer