include partials/head
html
    body
        include partials/navbar
        .container
            include partials/hero
            include partials/nextEvents
            include partials/midaTeeme

