@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #870042;
  --primary-dark: #4c4c4e;
  --secondary-color: #870042;
  --secondary-dark:#4c4c4e;
  --overlay: rgba(0,0,0,.7);  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

  
}

body {

  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;

  
}

.container {
  width: 1240px;
  margin: 0rem auto;
  margin-top: 3rem;
  margin-bottom: 3rem;



}

h2 {
  font-size: 3rem;
  text-align: center;
}

h5 {
  font-size: 1.5rem;
  padding-top: 1rem;
  text-align: left;
}

code {
  font-family: "Raleway";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  padding: 17px 28px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}



@media screen and (max-width:940px) {s

  .body  {
    width: 100vw;
  
  }

  .container {
    display: grid;
    width: auto;
    grid-template-columns: repeat( 1, 1fr )
  }

  }