include partials/head
html
    body
        include partials/navbar
        .container#app
            include partials/hero
            include partials/nextEvents
            include content/midaTeeme
        include partials/footer
script(src="assets/js/index.js")

